body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #373738
}

div.init-container {
    background-color: #eff0f8;
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    width: fit-content;
    padding: 0;
}

div.table-container {
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #5F626B;
    width: fit-content;
    padding: 1.2rem;
    border-radius: 30px;
}

table, th, td {
    padding: 0.4rem;
}

th div{
    width: 30%;
}

th div input {
    font-size: 32px;
    font-weight: 600;
    text-align: right;
    padding: 7%;
    line-height: 40px;
    border-radius: 12px;
    background-color: #eff0f8;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 12%;
    font-size: 50px;
    font-weight: 600;
}

.orange-button {
    background-color: orange;
}