@import url('https://fonts.cdnfonts.com/css/digital-7-mono');

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #373738
}

div.init-container {
    background-color: #eff0f8;
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    width: fit-content;
    padding: 0;
}

div.table-container {
    margin: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #5F626B;
    width: fit-content;
    padding: 1.2rem;
    border-radius: 30px;
}

table, th, td {
    padding: 0.4rem;
}

th div{
    width: fit-content;
}

th div input {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Digital-7', sans-serif;
    text-align: right;
    padding: 7%;
    line-height: 40px;
    border-radius: 12px;
    background-color: #eff0f8;
    width: 100%;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 12%;
    font-size: 50px;
    font-weight: 600;
}

.orange-button {
    background-color: orange;
}

button:active {
    background-color: blue;
}

div.code-repo {
    background-color: orange;
    padding: 0.8em;
    margin: 30px auto;
    display: flex;
    line-height: 20px;
    align-self: center;
    justify-content: center;
    width: fit-content;
    border-radius: 3px;
}

div.code-repo a {
    text-decoration: none;
    color: #eff0f8;
}

div.code-repo a:hover {
    color: blue;
}